@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

body {
  background: url(assets/photo1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar.navbar-default {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: rgba(255,255,255,0.75);
  /* opacity: .8; */
}

.navbar-brand {
  padding-left: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.navbar-right {
  padding-right: 60px;
  font-family: 'Open Sans', serif;
  font-size: 110%;
}

.jumbotron {
   background: rgba(255,255,255,0.75);
  /* opacity: .8; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  display: none;

}

.jumboheader {
  font-family: 'Oswald', sans-serif;
}

/* #wrapper {
  display: none;
} */

.biotext {
  font-weight: 100;
}

#biobox {
  padding-top: 0;
}

hr {
  clear: both;
  /* background: rgba(0,0,0,0.10); */
  height: 4px;
}

.devicon-rails-plain {
  height: 100px;
}

.icons {
  height: 100px;
}

br {
  clear: both;
}

 .grayscale {
  -webkit-filter: grayscale(50%); filter: grayscale(50%);
} 

#biopic {
  height: 300px;
}

